<ul id="messages"></ul>
<form id="form" action="">
  <input id="input" autocomplete="off" /><button>Send</button>
</form>

{{!-- Link socket.io script and chat.js script --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>